export(FunAdjust_shift_variance)
export(FunBigcorS)
export(FunCalCor)
export(FunCalCor_fast)
export(FunCalMNN_each)
export(FunCalSF)
export(FunCompute_correction_vectors)
export(FunMiloCal)
export(FunNWIN)
export(FunPredAnno)
export(FunProjCal)
export(FunRestricted_knn_cdx)
export(FunRestricted_mnn)
export(FunSmooth_gaussian_kernel)
export(FunUStage)
export(FunUS)
export(huem_demo_file)
export(huem_download_models)
export(huem_load_reference)
export(huem_model_dir)
export(huem_model_file)
export(huem_read_cell_groups)
export(huem_read_counts)
export(huem_set_model_dir)
export(project_demo_dataset)
export(project_query_dataset)

import(dplyr)
import(magrittr)
importFrom(batchelor, cosineNorm, findMutualNN)
importFrom(caret, train)
importFrom(igraph, as_edgelist)
importFrom(miloR, buildGraph, buildNhoodGraph, makeNhoods, Milo, nhoodGraph, nhoods)
importFrom(S4Vectors, DataFrame)
importFrom(scater, runPCA, runUMAP)
importFrom(scran, computeSumFactors)
importFrom(scuttle, calculateAverage, logNormCounts, normalizeCounts, sumCountsAcrossCells)
importFrom(SingleCellExperiment, SingleCellExperiment, logcounts, sizeFactors, "sizeFactors<-")
importFrom(stats, cor, median, predict, setNames)
importFrom(SummarizedExperiment, assay, colData)
importFrom(tidyr, gather, spread)
importFrom(utils, read.delim)
importFrom(uwot, load_uwot, umap_transform)
